home/.config/docker/.buildNodeID
home/.config/nvim/.netrwhist
home/.config/nvim/spell
home/.config/zsh/.cache
home/.config/zsh/.zshrc
home/.config/zsh/.zcompdump
home/.config/zsh/.zcompcache
home/.weechat/logs
home/.weechat/plugins
home/.weechat/script/plugins.xml.gz
home/.weechat/weechat_crash_*.log
home/.weechat/weechat.log
dwm/dwm-build
