" ----------
" .ideavimrc
" ----------

" Options {{{

" ignore case in search, except when uppercase is used
set ignorecase smartcase

" disable incremental search and highlighted search results
set noincsearch nohlsearch

" use + as unnamed register if possible, mapping to system clipboard
if has('unnamedplus')
    set clipboard+=unnamedplus
endif

" }}}
" Mappings {{{

" use jk or kj to escape from normal mode
inoremap jk <Esc>
inoremap kj <Esc>

" reselect visual after changing indent with > or <
vnoremap > >gv
vnoremap < <gv

" move logically across wrapped lines with j/k
nnoremap <expr> j v:count ? 'j' : 'gj'
nnoremap <expr> k v:count ? 'k' : 'gk'

" }}}

" vim: fdm=marker
